<mat-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <a mat-button 
  routerLink="/dashboard" 
  routerLinkActive="active-link" 
  [routerLinkActiveOptions]="{ exact: true }">
  Dashboard
  </a>
  <a mat-button 
  routerLink="/currency-graph" 
  routerLinkActive="active-link" 
  [routerLinkActiveOptions]="{ exact: true }">
  Gráfo de divisas
</a>
  <a mat-button 
  routerLink="/new-node" 
  routerLinkActive="active-link" 
  [routerLinkActiveOptions]="{ exact: true }">
  Nuevo nodo
</a>
</mat-toolbar>
<router-outlet></router-outlet>
